/* #usermanagementtable-container {
    font-family: sans-serif;
} */

.table-heading {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.80);
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Delete Button CSS */
.delete-button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 30px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  margin: auto;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.delete-button:active,
.delete-button:hover,
.delete-button:focus {
  outline: 0;
}

.delete-button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.delete-button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

/* Update Button CSS */
.update-button {
  align-items: center;
  background-color: #def2fb;
  background-position: 0 0;
  border: 1px solid #cbecfc;
  border-radius: 11px;
  box-sizing: border-box;
  color: #1899D6;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 30px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  margin: auto;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.update-button:active,
.update-button:hover,
.update-button:focus {
  outline: 0;
}

.update-button:hover {
  background-color: #cfebf8;
  border-color: #66c2ec;
}

.update-button:active {
  background-color: #cfebf8;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #1899D6;
}
