.App {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* height: auto; */
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form,
.register-form, .profile-form, .book-ticket-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.profile-form input {
  width: 250px;
}

.profile-form span {
  text-align: left;
}

.email-sent {
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: #28a745;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid grey;
}

input, textarea {
  padding: 10px;
  border: 1px solid grey;
}

.login-form-btn,
.register-form-btn, .profile-form-btn, .book-ticket-btn {
  border: none;
  padding: 10px;
  background-color: white;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-form-btn:hover,
.register-form-btn:hover, .profile-form-btn:hover, .book-ticket-btn:hover {
  opacity: 0.9;
}

.login-form-btn:disabled,
.register-form-btn:disabled, .profile-form-btn:disabled, .book-ticket-btn:disabled {
  opacity: 0.8;
  cursor: default;
}

.book-ticket-form h2 {
  /* margin-top: 3rem;
  margin-bottom: 2rem; */
  color: rgba(0, 0, 0, 0.80);
}

.ticket-contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 2rem;
}

.ticket-contaner span {
  font-weight: 600;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.70);
}

.ticket-contaner img {
  width: 40px;
}
